.row.col-lg-12.col-sm-12 .card{
    margin-top: 1vw!important;
}
.row.col-lg-12.col-sm-12 .card{
    cursor: pointer;
}
@media (min-width: 992px){
    .row.col-lg-12.col-sm-12 .card{
        margin: 0;
    }
}
